# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

#TTS API
pages\api\burnished-ray-380807-6a2adfb349ba.json

#Redundant Files
pages\api\generatecopy.js
pages\api\davinci.js
pages\api\signup.js
pages\api\signupVercel.js
supabasefetch.js
transcribe.js
VoiceList11labs.txt
pages\api\subscribe.jsx
pages\extrafuncs.js