@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

/* Base class for applying reset styles */
.base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', "Helvetica Neue", Arial, sans-serif;
}

/* Night Mode styles */
.nightMode {
  font-family: 'Lexend', "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(135deg, #232323, #0e0e0e, #0a3b09);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: #d8d8d8;
  line-height: 24px;
  /* ... [other night mode specific styles] */
}

/* Day Mode styles */
.dayMode {
  font-family: 'Lexend', "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(135deg, #73af6b, #8cccac, #56aa79); /* Lighter gradient for day mode */
  color: #1d1818; /* Darker text color for better readability */
  line-height: 24px;
  animation: gradient 10s ease infinite;
  color: #d8d8d8;
  line-height: 24px;
  /* ... [other day mode specific styles, lighter versions of night mode styles] */

  .main form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 80%; /* Responsive max-width */
    background-color: rgba(41, 87, 41, 0.35);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;  
  }

  /* Styling for headings */
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600; /* Using weight from imported font */
  margin: 16px 0 10px;
  text-transform: uppercase;
  color: #247033;
}

.welcomeLogoutContainer
{color: #2c853e;
}

/* Result box styling */
.main .result {
  font-weight: bold;
  margin-top: 40px;
  background-color: rgba(181, 201, 190, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 80%; /* Responsive max-width */
  height: 220px;
  color: #3f3c3c; /* Light color for text */
}

/* Text input styling */
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #0f8e6c;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #0f8e6c;
  background-color: rgba(181, 201, 190, 0.9);
  color: #247033;
  transition: all 0.3s ease;
}

.userMessageStyle
{
  color: #247033;
}


}


/* Styling for the Night Mode Toggle Switch */
.nightModeToggle {
  position: fixed; /* Fixed position */
  top: 10px; /* Distance from top */
  left: 10px; /* Distance from left */
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}

.nightModeToggle span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.nightModeToggle span:hover {
  background-color: #e0e0e0;
}

.nightModeToggle label {
  margin-right: 10px;
  color: inherit; /* Inherits color from night or day mode */
}

.nightModeToggle input[type="checkbox"] {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  cursor: pointer;
}


/* Base class for applying reset styles */
.base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', "Helvetica Neue", Arial, sans-serif;
}

/* Body styles for background and font */
.body {
  font-family: 'Lexend', "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(135deg, #232323, #0e0e0e, #0a3b09);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: #d8d8d8;
  line-height: 24px;
}

/* Main container styling */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  min-height: 100vh; /* Set a minimum height to fill the entire viewport */
}

/* Styling for headings */
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600; /* Using weight from imported font */
  margin: 16px 0 10px;
  text-transform: uppercase;
  color: #746f6f;
}

/* Form styling */
.main form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 80%; /* Responsive max-width */
  background-color: rgba(17, 17, 19, 0.55);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  
  
}

/* Text input styling */
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #0f8e6c;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #0f8e6c;
  background-color: #212121;
  color: #d8d8d8;
  transition: all 0.3s ease;
}

/* Text input focus effect */
.main input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(16, 163, 127, 0.5);
}

/* Placeholder styling */
.main ::placeholder {
  color: #8e8ea0;
}

/* Submit button styling */
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #0f8e6c;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 60%;
  min-width: 40%;
  margin: 0 auto; /* Center-align the button horizontally */
}

/* Hover effect on submit button */
.main input[type="submit"]:hover {
  background-color: #10a37f;
}


.resetButton {
  padding: 12px 0;
  background-color: #555555; /* Red background color */
  color: #fff; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding similar to the submit button */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-left: 0px; /* Spacing between this button and the submit button */
  max-width: 15%;
  min-width: 5%;
  margin: 0 auto; /* Center-align the button horizontally */

}

.resetButton:hover {
  background-color: #e60000; /* Darker red on hover */
}

/* New container for buttons */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50 px; /* This adds space between your buttons */
}


/* Result box styling */
.main .result {
  font-weight: bold;
  margin-top: 40px;
  background-color: rgba(17, 17, 19, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 80%; /* Responsive max-width */
  height: 220px;
  color: #d8d8d8; /* Light color for text */
}


/* Avatar container styles */
.main .avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

/* Avatar styling */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 5px;
}

/* Character avatar container */
.characterAvatarContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 10px;
}

/* Character avatar image */
.characterAvatarImage {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners */
}

/* Keyframes for gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Keyframes for day mode gradient animation */
@keyframes gradientDay {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* Links container for additional styling */
.linksContainer {
  margin-top: 5px;
  text-align: center;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 600px) {
  .main form,
  .main .result {
    max-width: 90%;
  }

  .main h3 {
    font-size: 24px;
  }
}


.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-top: 20px;
}

.redText {
  color: red;
}

/* Define a custom class for the signup/login buttons */
.customButton {
  background-color: #043d27; /* Change the background color to your desired color */
  color: #fff; /* Change the text color to white or a suitable color */
  border: none; /* Remove the default border */
  padding: 5px 5px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners if desired */
  cursor: pointer; /* Add a pointer cursor on hover */
  text-decoration: none; /* Remove underline */
}

/* Define styles for the button on hover or focus */
.customButton:hover,
.customButton:focus {
  background-color: #e64900; /* Change the background color on hover/focus */
  /* Add other styles as desired */
}

.modelSettings {
  justify-content: center;
  align-items: center;
  
}

.userMessageStyle
{
  color: #247033;
}